{{#if @global.ios}}
<div class="navbar">
    <div class="navbar-inner page-{{name}}">
        <div class="left">
            {{#if backText}}
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>{{backText}}</span>
            </a>
            {{/if}}
            {{#each leftSVGIcons}}
            <a href="#" class="link icon-only icon-{{this}} page-{{@root.name}}">
                <i class="icon icon-svg">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-{{this}}"></use>
                    </svg>
                </i>
            </a>
            {{/each}}
        </div>
        <div class="center sliding {{#if centerClass}}{{centerClass}}{{/if}}">
            {{pageTitle}}
        </div>
        <div class="right">
            {{#if rightIcon}}
            <a href="#" class="link icon-only page-{{@root.name}}">
                <i class="icon icon-{{rightIcon}}"></i>
            </a>
            {{/if}}
            {{#each rightSVGIcons}}
            <a href="#" class="link icon-only icon-{{this}} page-{{@root.name}}">
                <i class="icon icon-svg">
                    <svg viewBox="0 0 32 32">
                        <use xlink:href="#icon-{{this}}"></use>
                    </svg>
                </i>
            </a>
            {{/each}}
        </div>
    </div>
</div>
{{/if}}
