.page[data-page=note] .list-block .card {
    background: transparent;
    width: calc(100%);
    margin: 0;
}

.page[data-page=note] .list-block.sortable-opened .card {
    width: calc(100% - 40px);
}

.page[data-page=note] .list-block .item-content {
    padding-left: 0;
}

.page[data-page=note] .list-block .card .card-header {
    font-weight: bold;
}

.page[data-page=note] .list-block .card .card-content-inner {
    white-space: pre-line;
}

.page[data-page=note] .list-block a[data-type="ImagePiece"] .card .card-content-inner {
    flex-direction: column;
    display: flex;
}

.page[data-page=note] .list-block a[data-type="ImagePiece"] .card .card-content-inner img {
    width: 90vw;
    margin-bottom: 1rem;
}