<li class="swipeout">
    <div class="swipeout-content">
        <a href="#" data-uuid="{{uuid}}" data-title="{{title}}" class="item-content item-link" style="height: 88px; color: {{color}}">
            <div class="item-media">{{getThumbnailImage()}}</div>
            <div class="item-inner">
                <div class="item-title-row">
                    <div class="item-title">{{title}}</div>
                    <div class="item-after">{{getPrettyModifiedDate()}}</div>
                </div>
                <div class="item-text" style="color: {{color}}">{{getTextContent()}}</div>
            </div>
        </a>
    </div>
    <div class="swipeout-actions-right">
        <a href="#" class="swipeout-delete swipeout-overswipe">Delete</a>
    </div>
</li>